@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    --cor-fundo: #222222;
    --cor-fundo-alpha: rgba(55, 55, 55, 0.8);
    --cor-fonte: #ffffff;
    --cor-fonte-alpha: rgba(255, 255, 255, 0.3);
    --cor-principal: #88d39ed8;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.header{
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    padding-top: 90px;
    color: var(--cor-fonte);
    
    background-image: url("https://images2.alphacoders.com/838/thumb-1920-838311.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center -100px;
}

.navBar{
    max-width:700px;
    padding-top: 30px;
    gap:5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 0 auto;
}

.navBar .ativa{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--cor-fundo);
}

.navBar a{
    color: var(--cor-fonte);
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 3px;
    transition: all 0.3s ease 0s;
}

.navBar a:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--cor-fundo-alpha);
}

#principal{
    margin: 0 auto;
    text-align: center;
    background-color: var(--cor-fundo);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

#principal .ativa{
    display: block;
}
#principal .oculta{
    display: none;
}

#principal h2{
    color: var(--cor-fonte);
}

#principal p{
    color: var(--cor-fonte);
    padding: 0 100px;
    padding-bottom: 50px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

#principal img{
    width: 630px;
    height: 400px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

#principal .slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
    max-width: 50px;
    padding-top: 10px;
}

#image{
    margin: 0 auto;
    max-width: 1000px;
}

.slider .ponto{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: var(--cor-fonte-alpha);
}

.slider .ponto.ativa{
    background-color: var(--cor-fonte);
}

#secundaria{
    background-image: url("https://images4.alphacoders.com/913/thumb-1920-913476.jpg");
    
}

.parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 20px;
    transform: scale(1.05);
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    border: 0px solid red;
    max-width:1000px;
    height: 500px;
    margin:0px auto;
    padding: 50px 0;

    background-color: rgba(10, 10, 10,0.5);


    -webkit-box-shadow: 9px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    9px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         9px 5px 5px 0px rgba(50, 50, 50, 0.75);


}

.card{
    max-width:400px;
    max-height: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
    margin:0 auto;
    padding: 10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.card .btn{
    background-color: var(--cor-principal);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100px;
    cursor: pointer;
}

#rodape{
    background-color: var(--cor-fundo);
    height: 100px;
    padding-top: 100px;
}

#rodape p{
    font-size: 14px;
    text-align: center;
    color: var(--cor-fonte);
}


#slideset3 > *:first-child {
    animation: 12s autoplay3 infinite ease-in-out
}

@keyframes autoplay3 {
0% {margin-top: 10em}
4% {margin-top: 0em}
31% {margin-top: 0em}
35% {margin-top: -10em}
64% {margin-top: -10em}
68% {margin-top: -20em}
96% {margin-top: -20em}
100% {margin-top: -30em}
}